<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.VisitMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.Visit">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="cookbook_id" jdbcType="INTEGER" property="cookbookId" />
  </resultMap>

  <select id="get" resultMap="BaseResultMap">
    SELECT * FROM `visit` WHERE `user_id`=#{param1} AND `cookbook_id`=#{param2}
  </select>
  
  <insert id="add" parameterType="com.example.demo.model.Visit">
    insert into visit (user_id, cookbook_id
      )
    values (#{userId,jdbcType=INTEGER}, #{cookbookId,jdbcType=INTEGER}
      )
  </insert>
  
  <select id="getall" resultMap="BaseResultMap">
    SELECT * FROM `visit` WHERE `user_id`=#{param1} LIMIT #{param2}, #{param3}
  </select>
  
</mapper>